*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}

[data-floor='0'] {
  --floor-colour: #005678;
}

[data-floor='1'] {
  --floor-colour: #05d9e8;
}

[data-floor='2'] {
  --floor-colour: #ff85ab;
}

[data-floor='3'] {
  --floor-colour: #d1f7ff;
}

[data-floor='4'] {
  --floor-colour: #fffd98;
}

[data-floor='5'] {
  --floor-colour: #fea82f;
}

body {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-family: 'Bungee Inline', sans-serif;
  text-transform: uppercase;
}

h2,
h3,
.floor-label {
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #01012b;
  color: #05d9e8;
}

.page-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  gap: clamp(0.8rem, 3vw, 3rem);
  padding: 1rem;
  padding: clamp(0.8rem, 1vw, 2rem);
}

.content-container {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.passenger svg {
  height: 40px;
  width: 40px;
  pointer-events: none;
  fill: var(--floor-colour);
}

.header h1 {
  font-size: 4rem;
  color: #ff2a6d;
  -webkit-text-stroke: 0.5px #01012b;
}

.command-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.command-palette li {
  padding: 0 2%;
}

.command-palette .passenger {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.command-palette .passenger:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.building {
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: 1rem;
}

.lift-shaft {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: calc(30% + 4px);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
}

.lift {
  height: 100px;
  width: 85px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 1rem;
  border: 2px solid #d1f7ff;
  background-color: #01012b;
  -webkit-box-shadow: 0 0 12px 1px #005678, 0 0 12px 1px #005678 inset;
          box-shadow: 0 0 12px 1px #005678, 0 0 12px 1px #005678 inset;
}

.lift .passenger svg {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}

.lift-compartment {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.floor {
  position: relative;
  height: calc(100px + 10px);
  margin-bottom: -1px;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floor-label {
  position: absolute;
  left: 30%;
  top: 8px;
  padding-left: 12px;
  padding-top: 7px;
  font-size: 3.5rem;
  color: #005678;
}

.disembark-area-container {
  width: 30%;
  margin-right: calc(85px + 10px);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 12px 1px var(--floor-colour) inset;
          box-shadow: 0 0 12px 1px var(--floor-colour) inset;
}

.waiting-area-container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 12px 1px var(--floor-colour) inset;
          box-shadow: 0 0 12px 1px var(--floor-colour) inset;
}

.disembark-area,
.waiting-area {
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.disembark-area {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.call-arrow-container {
  position: absolute;
  z-index: -1;
  padding: 10px 12px;
}

.call-arrow-container .arrow {
  width: 16px;
  opacity: 0;
  fill: #005678;
}

.call-arrow-container .arrow-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.call-up .arrow-up {
  opacity: 1;
  fill: var(--floor-colour);
}

.call-down .arrow-down {
  opacity: 1;
  fill: var(--floor-colour);
}

.footer {
  padding-bottom: 5px;
  text-align: center;
  color: #005678;
}

@media (max-width: 400px) {
  .page-container {
    padding: 8px 4px;
  }
}
