$lift-shaft-location: 20%;
$lift-width: 85px;
$lift-height: 100px;
$floor-0-color: rgb(174, 156, 214);
$floor-1-color: rgb(139, 185, 212);
$floor-2-color: rgb(166, 206, 161);
$floor-3-color: rgb(218, 214, 161);
$floor-4-color: rgb(225, 178, 152);
$floor-5-color: rgb(229, 156, 160);
