@import 'reset';
@import 'typography';
@import 'config';

body {
  color: #333;
  background-color: #eee;
  padding-left: 5px;
  padding-right: 5px;
}

.page-container {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.command-palette {
  display: flex;
  justify-content: center;
  align-items: stretch;

  li {
    margin: 0 2%;
  }
}

.passenger {
  svg {
    height: 40px;
    width: 40px;
    pointer-events: none;
    fill: var(--highlight-color);
  }
}

.building {
  position: relative;
}

.lift-shaft {
  height: 100%;
  padding: 5px;
  z-index: 1;
  border: 1px solid #333;
  background-color: #ddd;
  position: absolute;
  left: $lift-shaft-location;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lift {
  height: $lift-height;
  width: $lift-width;
  background-color: #333;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;

  .lift-compartment {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .passenger {
    svg {
      height: 20px;
      width: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.floor {
  height: calc(#{$lift-height} + 10px);
  margin-bottom: -1px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: relative;
  display: flex;
  box-shadow: 0 -22px 22px -22px var(--highlight-color) inset;

  .floor-label {
    position: absolute;
    z-index: 2;
    padding-left: 5px;
  }

  .disembark-area-container {
    flex: 0 0 $lift-shaft-location;
    margin-right: calc(#{$lift-width} + 10px);
  }

  .waiting-area-container {
    flex: 1;
    position: relative;
  }

  .disembark-area,
  .waiting-area {
    height: 100%;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;
  }

  .disembark-area {
    flex-direction: row-reverse;
  }
}

.call-arrow-container {
  position: absolute;
  padding: 2px 7px;
  z-index: -1;

  .arrow {
    width: 16px;
    fill: #ddd;
  }

  .arrow-down {
    transform: rotate(180deg);
  }
}

.call-up .arrow-up {
  fill: #333;
}

.call-down .arrow-down {
  fill: #333;
}

[data-floor='4'] {
  --highlight-color: #{$floor-4-color};
}

[data-floor='3'] {
  --highlight-color: #{$floor-3-color};
}

[data-floor='2'] {
  --highlight-color: #{$floor-2-color};
}

[data-floor='1'] {
  --highlight-color: #{$floor-1-color};
}

[data-floor='0'] {
  --highlight-color: #{$floor-0-color};
}

footer {
  text-align: center;

  small {
    color: #999;
  }
}

@media (max-width: 400px) {
  .page-container {
    padding: 8px 4px;
  }
}
