@import 'reset';
@import 'variables';
@import 'typography';

body {
  display: flex;
  flex-direction: column;
  background-color: $background-colour;
  color: $primary-colour;
}

.page-container {
  flex: 1;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
  align-items: center;
  gap: 1.5rem;
  gap: clamp(0.8rem, 3vw, 3rem);
  padding: 1rem;
  padding: clamp(0.8rem, 1vw, 2rem);
}

.building-container {
}

.content-container {
  max-width: 100%;
  display: grid;
  gap: 1rem;
}

.passenger {
  svg {
    height: 40px;
    width: 40px;
    pointer-events: none;
    fill: var(--floor-colour);
  }
}

.header h1 {
  font-size: 4rem;
  color: $highlight-colour;
  -webkit-text-stroke: 0.5px $background-colour;
}

.draggables-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  li {
    padding: 0 2%;
  }

  .passenger {
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.building {
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: $border-radius;
}

.lift-shaft {
  position: absolute;
  top: 10px;
  bottom: 10px;
  // left: $lift-shaft-location;
  left: calc(#{$lift-shaft-location} + 4px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
}

.lift {
  height: $lift-height;
  width: $lift-width;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: $border-radius;
  border: 2px solid $emphasised-primary-colour;
  background-color: $background-colour;
  box-shadow: 0 0 12px 1px $deemphasised-primary-colour, 0 0 12px 1px $deemphasised-primary-colour inset;

  .passenger {
    svg {
      height: 20px;
      width: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.lift-compartment {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.floor {
  position: relative;
  height: calc(#{$lift-height} + 10px);
  margin-bottom: -1px;
  padding: 1px;
  display: flex;

  & + .floor {
    // margin-top: 4px;
  }
}

.floor-label {
  position: absolute;
  left: $lift-shaft-location;
  top: 8px;
  // z-index: 2;
  padding-left: 12px;
  padding-top: 7px;
  font-size: 3.5rem;
  color: $deemphasised-primary-colour;
}

.disembark-area-container {
  width: $lift-shaft-location;
  margin-right: calc(#{$lift-width} + 10px);
  flex: 0 0 $lift-shaft-location;
  border-radius: $border-radius;
  box-shadow: 0 0 12px 1px var(--floor-colour) inset;
}

.waiting-area-container {
  position: relative;
  flex: 1;
  border-radius: $border-radius;
  box-shadow: 0 0 12px 1px var(--floor-colour) inset;
}

.disembark-area,
.waiting-area {
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.disembark-area {
  flex-direction: row-reverse;
}

.call-arrow-container {
  position: absolute;
  z-index: -1;
  padding: 10px 12px;

  .arrow {
    width: 16px;
    opacity: 0;
    fill: $deemphasised-primary-colour;
  }

  .arrow-down {
    transform: rotate(180deg);
  }
}

.call-up .arrow-up {
  opacity: 1;
  fill: var(--floor-colour);
}

.call-down .arrow-down {
  opacity: 1;
  fill: var(--floor-colour);
}

.footer {
  padding-bottom: 5px;
  text-align: center;
  color: $deemphasised-primary-colour;
}

@media (max-width: 400px) {
  .page-container {
    padding: 8px 4px;
  }
}
